
.nav_item1{
  position: absolute;
  top: 68px;
  left: 1030px;
  width: 103px;
  height: 34px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 25px/34px OpenSans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  text-decoration: none;
}

.nav_item2{
  position: absolute;
  top: 68px;
  left: 1183px;
  width: 108px;
  height: 34px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 25px/34px OpenSans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  text-decoration: none;
}

.nav_item3{
  position: absolute;
  top: 68px;
  left: 1341px;
  width: 79px;
  height: 34px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 25px/34px OpenSans;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  text-decoration: none;
}

.nav_item4{
  position: absolute;
  top: 63px;
  left: 1480px;
  width: 118px;
  height: 25px;
  padding: 10px 0px;
  /* UI Properties */
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
  border-radius: 24px;
  opacity: 1;
  color: #663399;
  text-align: center;
  font: normal normal normal 15px/24px OpenSans;
  letter-spacing: 0px;
  text-decoration: none;
}

.nav_item5{
  position: absolute;
  top: 63px;
  left: 1622px;
  width: 166px;
  height: 25px;
  padding: 10px 0px;
  /* UI Properties */
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #00000033;
  border-radius: 24px;
  opacity: 1;
  color: white;
  text-align: center;
  font: normal normal normal 15px/24px OpenSans;
  letter-spacing: 0px;
  text-decoration: none;
}