<div class="artboard">
  <div class="logo"></div>
  <div class="video"></div>
  <div class="circle"></div>
  <div class="tagline1">We Make it Super Simple</div>
  <div class="rectangle1"></div>
  <app-navbar [items]="items"></app-navbar>
  <div class="blob-small"></div>
  <div class="accounting_dots1"></div>
  <div class="accounting_dots2"></div>
  <div class="sol_wave_bg"></div>
  <div class="tagline2">Boost your business with Open</div>
  <div class="line3"></div>
  <app-card *ngFor="let card of cards" [icon]="card.icon" [title]="card.title" [subtitle]="card.subtitle" [whiteText]="card.whiteText" [ngClass]="''+card.class"></app-card> 
  <app-eligibility-calculator class="emi_calculator"></app-eligibility-calculator>
</div>